@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.static, .statics .main_static div {
  width: 354px;
  border-radius: 10px;
  background: #f5faff;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.1490196078);
  padding: 32px 64px;
}

.text_h3, .sertifikat h3, .the_teams h3, .lessons h3, .course h3, .about h3, .statics .main_static div h3, .statics h3 {
  font-family: Fira Code;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.06em;
  color: #1B1A18;
  padding: 24px;
}

.text_h4, .sertifikat .card_sert .card_text h4, .the_teams .teams .team h4, .lessons .lesson .main_lesson h4, .course .cource .main-cource h4, .about .about_us .about_text h4 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
  color: #1B1A18;
}

.text_p, .sertifikat .card_sert .card_text p, .the_teams .teams .team p, .lessons .lesson .main_lesson p, .course .cource .main-cource p, .about .about_us .about_text p {
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 34px;
  color: #514D48;
}

.ftr_h4, footer h4 {
  color: #31344B;
  font-family: Inter;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.ftr_txt-li, footer .web p, footer ul li {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #31344B;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 565px;
  height: 26px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #1B1A18;
}
nav ul li a:hover {
  color: #0076F5;
}
nav button {
  width: 116px;
  height: 50px;
  color: #0076F5;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #0076F5;
  background: none;
  cursor: pointer;
}
nav button:hover {
  background: #0076f5;
  color: #f5faff;
  box-shadow: 4px 8px 16px 0px rgba(0, 118, 245, 0.4);
}
nav .icons {
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  right: 55px;
  background-color: #0076F5;
  padding: 3px;
  top: 20px;
  border-radius: 2px;
  display: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .main {
  width: 69%;
  height: 450px;
}
.hero .main h1 {
  margin-bottom: 46px;
  font-family: Fira Code;
  font-size: 79px;
  font-weight: 500;
  line-height: 88px;
  letter-spacing: -0.08em;
  text-align: left;
  color: #1B1A18;
}
.hero .main h1 span {
  color: #0076F5;
}
.hero .main button {
  width: 226px;
  height: 50px;
  color: #0076F5;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #0076F5;
  background: none;
  cursor: pointer;
}
.hero .main button:hover {
  background: #0076f5;
  color: #f5faff;
  box-shadow: 4px 8px 16px 0px rgba(0, 118, 245, 0.4);
}
.hero .sect {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.hero .sect .sec {
  background-image: url("../../../assents/img/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 28%;
  width: 226px;
  height: 605px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}
.hero .sect .sec2 {
  background-image: url("../../../assents/img/image.jpg");
  background-position-x: 63%;
  background-position-y: -115px;
  margin-top: 80px;
  height: 90vh;
}
.hero .sect .sec3 {
  background-image: url("../../../assents/img/image.jpg");
  background-position-x: 88%;
}

.dark {
  background-color: #1B1A18;
}

.dark * {
  color: #fff !important;
}

.dark .static, .dark .statics .main_static div, .statics .main_static .dark div {
  background: none;
}

.dark nav {
  background-color: #8fc5ff;
  margin-top: 0;
}

.sun-moon {
  background: #00458f;
  width: 80px;
  height: 56px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: none;
}
.sun-moon img {
  width: 24px;
  height: 24px;
}

.statics .main_static {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 30px;
}
.statics .main_static div p {
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 34px;
  color: #514D48;
  width: 227px;
}

.about .about_us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 142px;
}
.about .about_us .sect {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.about .about_us .sect .sec {
  background-image: url("../../../assents/img/images2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 5%;
  width: 354px;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}
.about .about_us .sect .sec1 {
  margin-top: 30px;
}
.about .about_us .sect .sec2 {
  background-image: url("../../../assents/img/images2.png");
  background-position-x: 100%;
}
.about .about_us .about_text {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.course .cource {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 65px;
}
.course .cource .main-cource {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 16px;
}
.course .cource .main-cource img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.course .cource .main-cource h4 {
  text-align: center;
}
.course .cource .main-cource p span {
  color: #0076F5;
}
.course .cource .main-cource button {
  width: 226px;
  height: 50px;
  color: #0076F5;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #0076F5;
  background: none;
  cursor: pointer;
  margin: 0 auto;
}
.course .cource .main-cource button:hover {
  background: #0076f5;
  color: #f5faff;
  box-shadow: 4px 8px 16px 0px rgba(0, 118, 245, 0.4);
}

.lessons .lesson {
  display: flex;
  justify-content: space-around;
}
.lessons .lesson .main_lesson {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 16px;
}
.lessons .lesson .main_lesson button {
  width: 195px;
  height: 50px;
  color: #0076F5;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #0076F5;
  background: none;
  cursor: pointer;
}
.lessons .lesson .main_lesson button:hover {
  background: #0076f5;
  color: #f5faff;
  box-shadow: 4px 8px 16px 0px rgba(0, 118, 245, 0.4);
}

.the_teams .teams {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 45px;
}
.the_teams .teams .team {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.the_teams .teams .team .programmer {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.the_teams .teams .team h4 {
  text-align: center;
}
.the_teams .teams .team span {
  color: #0076f5;
}
.the_teams .teams .team .icons {
  width: 24px;
  height: 24px;
}

.sertifikat .card_sert {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 158px;
}
.sertifikat .card_sert .card_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
hr {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
}

footer {
  display: flex;
  justify-content: space-around;
}
footer .bootstrap p {
  font-family: Nunito Sans;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: #31344B;
  width: 375px;
  margin-bottom: 16px;
}
footer h4 {
  margin-bottom: 24px;
}
footer ul li {
  list-style: none;
  margin-bottom: 16px;
}
footer .web p {
  width: 354px;
  margin-bottom: 16px;
}
footer .web input {
  border: 1px solid #8FC5FF;
  color: #2990FF;
  background: #F5FAFF;
  width: 354px;
  height: 50px;
  border-radius: 5px;
  padding-left: 24px;
  margin-bottom: 16px;
}
footer .web button {
  width: 354px;
  height: 50px;
  color: #0076F5;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #0076F5;
  background: none;
  cursor: pointer;
}
footer .web button:hover {
  background: #0076f5;
  color: #f5faff;
  box-shadow: 4px 8px 16px 0px rgba(0, 118, 245, 0.4);
}

.end {
  text-align: center;
}
.end p {
  margin: 16px;
}

body {
  background: #f5faff;
}

.container {
  max-width: 1440x;
  margin: 0 auto;
}
.container .menu_navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 130px;
  background-color: #8fc5ff;
  width: 100vw;
  height: 100vh;
  gap: 50px;
  position: fixed;
  transition: 1s;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 9999;
}
.container .menu_navbar button {
  width: 116px;
  height: 50px;
  color: #0076F5;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #0076F5;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 25px;
}
.container .menu_navbar button:hover {
  background: #0076f5;
  color: #f5faff;
  box-shadow: 4px 8px 16px 0px rgba(0, 118, 245, 0.4);
}
.container .menu_navbar li {
  list-style: none;
}
.container .menu_navbar a {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: right;
  color: #fff;
  text-decoration: none;
  padding: 6px;
}
.container .menu_navbar .nav_wrap {
  width: 120%;
  display: flex;
  justify-content: space-between;
  gap: 185px;
}
.container .menu_navbar .nav_wrap .wrap_logo {
  position: absolute;
  top: 20px;
}
.container .menu_navbar .nav_wrap .iconc {
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: #0076f5;
  top: 20px;
  left: 675px;
  padding: 3px;
  border-radius: 2px;
}
@media (max-width: 768px) {
  .container nav ul {
    display: none;
  }
  .container nav button {
    display: none;
  }
  .container nav .iconc {
    display: block;
  }
  .container nav .icons {
    display: block;
  }
  .container #check:checked + .menu_navbar {
    transform: translateX(0);
    transition: 1s;
  }
  .container .hero {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 295px;
    text-align: center;
    margin-bottom: 35px;
  }
  .container .sect .sec1 {
    transform: scale(1);
    background-position-y: 25px;
    background-position-x: 18%;
  }
  .container .sect .sec2 {
    transform: scale(1.2);
    background-position-y: 35%;
    background-position-x: 55%;
  }
  .container .sect .sec3 {
    transform: scale(1);
    background-position-y: 25px;
    background-position-x: 95%;
  }
  .container .main_static {
    flex-wrap: wrap;
  }
  .container .about_us {
    flex-wrap: wrap;
  }
  .container .about_us .sect .sec {
    transform: none;
  }
  .container .cource {
    flex-wrap: wrap;
  }
  .container .lesson {
    flex-wrap: wrap;
  }
  .container .teams {
    flex-wrap: wrap;
  }
  .container .card_sert {
    flex-wrap: wrap;
  }
  .container footer {
    flex-wrap: wrap;
  }
}
.container input {
  display: none;
}/*# sourceMappingURL=main.css.map */