.static {
  width: 354px;
  border-radius: 10px;
  background: #f5faff;
  box-shadow: 0px 0px 30px -10px #00000026;
  padding: 32px 64px;
}
.text_h3 {
  font-family: Fira Code;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.06em;
  color: $main-text-color;
  padding: 24px;
}
.text_h4 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
  line-height: 34px;
  text-align: left;
  color: $main-text-color;
}
.text_p {
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 34px;
  color: $main-text-color-p;
}
.ftr_h4{
color: $ftr-text-color;
font-family: Inter;
font-size: 19px;
font-weight: 500;
line-height: 28px;
text-align: left;

}
.ftr_txt-li{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: $ftr-text-color;
}